
<form [formGroup]="Form" >

  <h1 mat-dialog-title>{{actionName}} دراسة/دورة  </h1>

   <div mat-dialog-content>

    <div class="row">

        <div class="col-md-6 mb-2 ">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label #course_id>رقم الدراسة أو الدورة </mat-label>
            <input type="text" matInput formControlName="course_id">
            <mat-error *ngIf="fieldHasErrors(Form, 'course_id')">
              {{
                autoPrintFirstErrorMessage(
                  Form,
                  "course_id",
                  course_id.innerHTML
                )
              }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-6 mb-2">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label #course_name>اسم الدراسة أو الدورة</mat-label>
            <input type="text" matInput formControlName="course_name">
            <mat-error *ngIf="fieldHasErrors(Form, 'course_name')">
              {{
                autoPrintFirstErrorMessage(
                  Form,
                  "course_name",
                  course_name.innerHTML
                )
              }}
            </mat-error>
          </mat-form-field>
        </div>


        <div class="col-md-6 mb-4">
          <mat-checkbox [formControl]="course_fixed" > هل هو مثبت</mat-checkbox>
        </div>



    </div>
  </div>


   <div mat-dialog-actions>
    <button mat-raised-button color="warn" mat-dialog-close>
      <mat-icon class="mat-icon-rtl-mirror">close
      </mat-icon>
      اغلاق
    </button>

    <button mat-raised-button color="accent" (click)="onReset()">
      <mat-icon class="mat-icon-rtl-mirror">clear
      </mat-icon>
      مسح الشاشة
    </button>


    <button mat-raised-button color="primary" cdkFocusInitial (click)="Save()">
      <mat-icon class="mat-icon-rtl-mirror">save
      </mat-icon>
      {{ isEditMode ? "تعديل" : "حفظ" }}
    </button>
   </div>
  </form>
