<div class="col-md-12 text-center">
  <h2>الدورات التدريبية</h2>
</div>
<div class="mb-3 d-flex justify-content-between align-items-center">
  للإضافة على الجدول انقر على اضافة
  <button mat-flat-button color="primary" class="mr-2 action-button" (click)="Add()">اضافة</button>
</div>

<div class="col-md-12">
  <div class="table-wrap">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
      <!-- course_id Column -->
      <ng-container matColumnDef="course_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>رقم الدراسة أو الدورة</th>
        <td mat-cell *matCellDef="let element">{{element?.course_id}}</td>
      </ng-container>

      <!-- course_name Column -->
      <ng-container matColumnDef="course_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>اسم الدراسة أو الدورة</th>
        <td mat-cell *matCellDef="let element">{{element?.course_name}}</td>
      </ng-container>

      <!-- course_fixed Column -->
      <ng-container matColumnDef="course_fixed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>مثبت</th>
        <td mat-cell *matCellDef="let element">{{ isCourseFixed(element.course_fixed) }}</td>
      </ng-container>


      <ng-container matColumnDef="action">
        <tr>
          <th mat-header-cell *matHeaderCellDef> العمليات </th>
        </tr>
        <tr>
          <td mat-cell *matCellDef="let element">
            <button mat-button color="warn" (click)="Delete(element)" style="font-size: 10px;">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-button color="primary" (click)="Update(element)" title="تعديل" style="font-size: 10px;">
              <mat-icon>update</mat-icon>
            </button>
          </td>
        <tr>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginator [pageSizeOptions]="[10, 15, 30]" showFirstLastButtons></mat-paginator>


  </div>
</div>
